body {
  text-align: center;
}

.container {
  width: 700px;
}

.well {
  padding: 40px 20px;
  width: 80%;
  margin: 25px auto;
}

#question2, #question3, #question4, #question5, .alert, #result {
  display: none;
}

.alert {
  width: 50%;
  margin: 25px auto;
}

i {
  font-size: 150px;
}

#result * {
  margin-top: 50px;
}
