/* ===== HEADER ===== */

body {
  text-align: center;
  font-size: 1.75em;
  background-color: #e5f9ff;
}

.container {
  margin-top: 200px;
}

h1 {
  margin-bottom: 25px;
}

.alert {
  width: 50%;
  margin: 25px auto;
}

/* ===== QUESTION FORM ===== */

.well {
  padding: 40px 20px;
  width: 80%;
  margin: 25px auto;
  background: white;
  opacity: .9;
}

#question1, #question2, #question3, #question4, #question5, .alert, #result, #reset {
  display: none;
}

#name {
  width: 60%;
  margin: 25px auto 0 auto;
  text-align: center;
}

.radio {
  margin-bottom: 20px;
}

/* ===== RESULTS DISPLAY ===== */

#result * {
  margin-top: 50px;
}

i {
  font-size: 150px;
}

#language {
  font-style: italic;
}

/* ===== MOBILE DISPLAY ===== */

@media screen and (max-width: 768px) {
  .container {
    margin-top: 25px;
  }

  h1 {
    font-size: 22px;
    margin-bottom: 0;
  }

  #name {
    width: 100%;
  }

  #icon1 {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
